In [3]:
import pandas as pd

In [ ]:
### Read in CSV data

In [15]:
bison = pd.read_csv('/Users/clarkeashleigh/Downloads/BisonTracking.csv')

In [ ]:
### First 7 rows in data

In [5]:
bison.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

In [ ]:
### Last 10 rows in data

In [9]:
bison.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

In [ ]:
### Number of Rows

In [12]:
len(bison)

1107

In [ ]:
### Number of Columns

In [14]:
len(bison.columns)

5

In [ ]:
---

In [ ]:
### How many bison in Antiquus species?

In [18]:
bison.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

In [ ]:
* 633

In [ ]:
### Mean and StD of Length

In [19]:
bison.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

In [ ]:
* mean: 7.981030

In [ ]:
*std: 0.808299

In [22]:
### Median length of bison

In [23]:
bison.Length.median()

8.0