In [1]:
import pandas as pd

In [2]:
exam = pd.read_csv ('/Users/clarkeashleigh/Downloads/L3exam.csv')

In [7]:
exam.head (15)

    267.5
0   256.5
1   266.7
2   256.0
3   268.2
4   269.1
5   269.8
6   266.2
7   262.0
8   267.8
9   271.6
10  267.5
11  260.8
12  259.6
13  263.4

In [9]:
exam.min ()

267.5    256.0
dtype: float64

In [10]:
exam.max ()

267.5    271.6
dtype: float64

In [11]:
exam.mean ()

267.5    264.657143
dtype: float64